<h1>子どもを追加</h1>

<div class="form-container">
  <%= form_with model: [@parent, @child], local: true do |f| %>
    <div class="form-input">
      <%= f.label :name, "名前" %><br>
      <%= f.text_field :name %>
    </div>

    <div class="form-input">
      <%= f.label :birthday, "生年月日" %><br>
      <%= f.date_select :birthday, start_year: 2000, end_year: Date.today.year %>
    </div>

    <div class="form-input">
      <%= f.label :age, "年齢" %><br>
      <%= f.number_field :age, min: 0 %>
    </div>

    <div>
      <%= f.submit "登録する", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
