<h2>コメントを編集</h2>

<%= form_with(model: [@child, @memo, @comment], local: true) do |f| %>
  <div>
    <%= f.label :content, "コメント内容" %><br>
    <%= f.text_area :content, rows: 4 %>
  </div>

  <div>
    <%= f.submit "更新", class: "btn btn-primary mt-2" %>
    <%= link_to "戻る", parent_dashboard_path,, class: "btn btn-secondary mt-2" %>
  </div>
<% end %>
