<h1>コメントを投稿する</h1>

<div class="memo-detail-table mb-4">
  <div class="memo-row">
    <div class="memo-label">対象のタイトル</div>
    <div class="memo-value"><%= @memo.title.presence || "（タイトルなし）" %></div>
  </div>
  <% if @memo.content.present? %>
    <div class="memo-row">
      <div class="memo-label">メモ内容</div>
      <div class="memo-value"><%= simple_format(@memo.content) %></div>
    </div>
  <% end %>

<h3>テンプレート一覧</h3>
<div id="template-list" class="mb-3">
  <% @templates.each do |template| %>
    <button type="button" class="btn btn-outline-secondary m-1 template-btn" data-content="<%= template.content %>">
      <%= template.content.to_s %>
    </button>
  <% end %>
</div>

<%= form_with(model: [@child, @memo, @comment], local: true) do |f| %>
  <div class="form-group">
    <%= f.label :content, "コメント内容" %><br>
    <%= f.text_area :content, rows: 5, class: "form-control", id: "comment_content", placeholder: "コメントを入力してください" %>
  </div>

  <div class="form-group mt-3">
    <%= f.submit "投稿する", class: "btn btn-primary" %>
    <%= link_to "戻る", parent_dashboard_path, class: "btn btn-secondary ml-2" %>
  </div>
<% end %>
