<div class="form-container">
  <%= form_with(model: [@parent, @child, @memo], local: true, html: { multipart: true }) do |form| %>
    <% if @memo.errors.any? %>
      <div>
        <h2><%= pluralize(@memo.errors.count, "エラー") %>があります：</h2>
        <ul>
          <% @memo.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-input">
      <%= form.label :title, 'タイトル' %><br>
      <%= form.text_field :title %>
    </div>

    <div class="form-input">
  <label>カテゴリー</label><br>
  <div class="category-button-group" style="text-align: center;">
    <% Category.all.each do |category| %>
      <button type="button"
              class="btn btn-secondary category-button <%= 'selected' if category.id == @memo.category_id %>"
              data-category-id="<%= category.id %>">
        <%= category.name %>
      </button>
    <% end %>
  </div>
  <%= form.hidden_field :category_id, id: "selected-category", value: @memo.category_id %>
</div>

    <div class="form-input">
      <%= form.label :body, 'コメント' %><br>
      <%= form.text_area :body %>
    </div>

    <div class="form-input">
      <%= form.label :images, "写真" %><br>
      <%= form.file_field :images, multiple: true, accept: 'image/jpeg,image/gif,image/png' %>
      <% if @memo.images.attached? %>
        <div class="existing-images" style="margin-top: 10px;">
          <p>今の写真:</p>
          <% @memo.images.each do |image| %>
            <div style="display: inline-block; margin-right: 10px;">
              <%= image_tag image.variant(resize_to_limit: [150, 150]), style: 'border: 1px solid #ccc;' %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="form-input" style="text-align: center;">
      <%= form.submit "できた😃", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
