<h1><%= @child.name %> のメモボックス</h1>

<%= form_with url: child_memos_path(@child), method: :get, local: true do %>
  <div style="margin-bottom: 20px;">
    <%= label_tag :category_id, "さがしたいときはカテゴリーをえらんで🔍" %>
    <%= select_tag :category_id,
        options_from_collection_for_select(@categories || [], :id, :name, params[:category_id]),
        include_blank: "すべて" %>
    <%= submit_tag "🔍" %>
  </div>
<% end %>

<% if child_signed_in? %>
  <div class="button-container">
    <%= link_to "NEWメモ🗒️", new_child_memo_path(@child), class: "btn btn-primary" %>
  </div>
<% end %>

<ul class="memo-list">
  <% @memos.each do |memo| %>
    <li class="memo-card">
      <strong><%= memo.title.presence || "（タイトルなし）" %></strong><br>

      <%= link_to memo.body.truncate(20), child_memo_path(@child, memo) %><br>

      <% if memo.images.attached? %>
        <%= image_tag memo.images.first.variant(resize_to_limit: [200, 200]) %><br>
      <% end %>

      <% if memo.category.present? %>
        <p><%= memo.category.name %></p>
      <% end %>
    </li>
  <% end %>
</ul>
