<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || " KOTOBANOTANE" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="header-wrapper">
    <nav class="login-button-wrapper">
    <% if parent_signed_in? %>
      <span class="login-status">保護者としてログイン中</span>
      <%= link_to "保護者ダッシュボード", parent_dashboard_path, class: "btn btn-outline-primary" %>
      <%= link_to "マイページ", parent_path(current_parent), class: "btn btn-outline-success" %>
      <%= link_to "ログアウト", destroy_parent_session_path, data: { turbo_method: :delete }, class: "btn btn-outline-danger" %>

    <% elsif session[:child_id].present? && Child.exists?(session[:child_id]) %>
      <span class="login-status">子どもとしてログイン中</span>
      <%= link_to "子どもダッシュボード", child_dashboard_path, class: "btn btn-outline-primary" %>
      <%= link_to "ログアウト", child_sessions_path, data: { turbo_method: :delete }, class: "btn btn-outline-danger" %>

    <% else %>
      <%= link_to "子どもとしてログイン", new_child_sessions_path, class: "btn btn-primary" %>
      <%= link_to "保護者としてログイン", new_parent_session_path, class: "btn btn-secondary" %>
    <% end %>
  </nav>
</header>


    <main style="padding: 20px;">
      <%= yield %>
    </main>


  </body>
</html>
